/* глобальные классы */
main {
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.button {
	display: inline-block;
	padding: 8px 16px 8px 36px;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
}
.input {
	outline: 1px solid #d9d9d9;
	border-radius: 2px;
	height: 40px;
	padding-left: 32px;
}
/* header */
body {
	font-family: "Roboto", sans-serif;
}
.header {
	padding-top: 44px;
	margin-bottom: 40px;
}
.header__heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
}

.header__address {
	/* width: 690px; */
	flex: 0.8;
	background: url("../img/home.svg") left 10px center no-repeat;
}
.header__user {
	background: url("../img/user.svg") left 16px center no-repeat;
	background-color: #1890ff;
	color: #fff;
	border: 1px solid #1890ff;
	margin-right: 4px;
}
.header__shop {
	background: url("../img/shop.svg") left 16px center no-repeat;
	border: 1px solid #d9d9d9;
	color: #595959;
}
/* prom */
.prom {
	margin-bottom: 56px;
}
.prom-container {
	filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
	background: #fff1b8;
	border-radius: 10px;
	padding: 68px 70px;
	background: #fff1b8 url("../img/eda.png") right -90px no-repeat;
}

.prom__title {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;

	color: #302c34;
}
.prom__subtitle {
	max-width: 538.78px;
	font-size: 24px;
	line-height: 28px;

	color: #302c34;
}

/* card */
.card {
	padding-bottom: 60px;
}
.card__heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.card__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}
.card__search {
	background: url("../img/search.svg") left 10px center no-repeat;
	width: 306px;
}

.card__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card__item {
	/* outline: 1px solid red; */
	overflow: hidden;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	margin-bottom: 30px;
	flex-basis: 32%;
}
.card__img {
	/* width: 384px; */
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: 20px;
}
.card__name {
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__food {
	/* border: 1px solid #000; */
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	max-width: 240px;
}
.card__time {
	padding: 1px 8px 1px 8px;
	font-size: 12px;
	line-height: 20px;
	background: #262626;
	border-radius: 2px;
	color: #fff;
}
.card__info {
	padding: 0 24px;
	padding-bottom: 34px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 18px;
	line-height: 32px;
	color: #8c8c8c;
}
.card__rating {
	font-weight: bold;
	color: #ffc107;
	padding-left: 7.5px;
	margin-right: 26px;
}
.card__rating:before {
	content: "";
	display: inline-block;
	background: url("../img/card/star.svg") no-repeat;
	transform: translate(-7.5px, 0);
	width: 14px;
	height: 14px;
}
.card__price {
	margin-right: 20px;
}
.card__price:after {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #8c8c8c;
	border-radius: 50%;
	/* vertical-align: middle; */
	transform: translate(10px, -4px);
}
.card__view {
}
.card__info-mrauto {
	margin-right: auto;
	padding-bottom: 0;
}

.card__discription {
	padding: 0 24px 25px 24px;
}
.card__head {
	margin-bottom: 10px;

	font-size: 24px;
	line-height: 32px;
	color: #000000;
}
.card__text {
	font-size: 18px;
	line-height: 21px;
	color: #8c8c8c;
	margin-bottom: 25px;
}

.card__button {
	background: url("../img/shopping.svg") center right 14px no-repeat;
	padding: 8px 36px 8px 16px;
	background-color: #1890ff;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	margin-right: 32px;
}
.card__value {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
}
/* footer */
.footer {
	padding: 68px 0;
}
.footer__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__logo {
	margin-right: 35px;
}
.footer__nav {
	margin-right: auto;
}
.footer__item {
	font-size: 18px;
	line-height: 21px;

	color: #595959;
}
.footer__item:not(:last-child) {
	margin-right: 15px;
}
.footer__social {
}
.footer__soc:not(:last-child) {
	margin-right: 21px;
}

/* modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	/* display: flex; */
	display: none;
}
.modal-active {
	display: flex;
}
.modal__list {
	padding: 40px 45px;
	max-width: 780px;
	width: 90%;
	height: 552px;
	background: #ffffff;
	border-radius: 5px;
	margin: auto;
}
.modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 54px;
}
.modal__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}
.modal__close {
	font-size: 36px;
	background: transparent;
}
.modal__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.modal__info {
	font-size: 18px;
	line-height: 32px;

	color: #000000;
}
.modal__price {
	margin-left: auto;
	margin-right: 47px;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;

	color: #000000;
}
.modal__counter {
}
.modal__btn {
	padding: 5px 16px;
	background: #ffffff;
	border: 1px solid #40a9ff;
	box-sizing: border-box;
	border-radius: 2px;
}
.modal__number {
	margin: 13px 0;
}

.modal__footer {
	margin-top: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal__money {
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #fafafa;
	padding: 15px 20px;
	background: #262626;
	border-radius: 5px;
}
.modal__buttons {
}
.modal__order {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background: #1890ff;
	border-radius: 2px;
	padding: 8px 16px;
	margin-right: 18px;
}
.modal__cancel {
	font-size: 16px;
	line-height: 24px;
	color: #595959;
	border-radius: 2px;
	padding: 8px 16px;
}

/* media */
@media (max-width: 1200px) {
	.container {
		max-width: 900px;
	}
	.card__food {
		max-width: 183px;
	}
}

@media (max-width: 930px) {
	.container {
		max-width: 650px;
	}
	.card__item {
		flex-basis: 49%;
	}
	.card__food {
		max-width: 200px;
	}
	.prom-container {
		padding: 50px 30px;
		background-size: 350px;
		background-position: top -20px right -40px;
	}
	.prom__title {
		font-size: 25px;
		line-height: 35px;
	}
	.prom__subtitle {
		max-width: 400px;
	}
	.prom {
		margin-bottom: 35px;
	}
	.footer {
		padding: 40px 0;
	}
	.footer__flex {
		flex-wrap: wrap;
	}
	.footer__nav {
		text-align: center;
		/* border: 1px solid #000; */
		margin-right: 0;
		margin-top: 10px;
		order: 5;
		flex-basis: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 500px;
	}
	.header__heading {
		flex-wrap: wrap;
	}
	.header__address {
		margin-top: 10px;
		order: 5;
		flex: 1;
	}
	.prom-container {
		background-image: none;
	}
	.card__heading {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 20px;
	}
	.card__info-mrauto {
		flex-basis: 100%;
		justify-content: center;
	}
	. .card__title {
		/* border: 1px solid #000; */
		text-align: center;
	}
	.card__search {
		margin-top: 10px;
		flex-basis: 100%;
	}
	.card__item {
		flex-basis: 100%;
	}
	.card__food {
		/* border: 1px solid #000; */
		max-width: 80%;
	}
}

@media (max-width: 540px) {
	.container {
		max-width: 90%;
	}
}
